<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
 <p><%= dose.description %></p>
<% end %>

<div>
  <%= link_to "All cocktails", cocktails_path, class: "btn btn-primary" %>
</div>
<div>
  <%= link_to "New dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
</div>
